<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
</head>
           <body>
           <form action="/category/create" method="post">
               <input type="text" name="name" placeholder="name">
               <span th:if="${parentId != null}">
                   <input  type="hidden" name="parentId" th:value="${parentId}">
               </span>
               <br/>

               <label for="img">Select image for category:</label>
               <input type="file" id="img" name="img" accept="image/*">
               <br/>
               <button type="submit">Submit</button>
           </form>

           <table>
             <thead>
             <tr>
               <th>Name</th>
             </tr>
             </thead>
             <tbody>

             <tr th:each="catedory : ${categories}">
<!--                 <a th:href="@{/category/get/{userId}/{categoryId}(userId=${userId}, categoryId=${categoryId})}">View Category</a>-->

                 <a th:href="@{/category/sub/{userId}/{categoryId}(userId=${user.id}, categoryId=${catedory.id})}" th:text="${catedory.name}"></a>
<!--               <td th:text="${catedory.name}"></td>-->
<!--               xullas shu yerda rasm chiqishi kk-->
             </tr>

             </tbody>
           </table>
           </body>
</html>