<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>

    <tr>
        <!--                 <th>ID</th>-->
        <th>Name</th>
        <th>Price</th>
        <th>Picture</th>
    </tr>


        <td th:text="${product.name}"></td>
        <!--                 <td th:text="${product.name}"></td>-->
        <td th:text="${product.price}"></td>
        <td>
            <img th:each="photo : ${product.getPhotos()}" th:src="${'http://localhost:8081/image/download/'+photo}">
        </td>
    </tr>

<form th:action="@{/feedback/create}" method="post">
    <input type="hidden", name="productId", th:value="${product.id}">
    <input type="hidden",nama="userId", th:value="${userId}">
    <input type="number" name="rate">
    <input type="text" name="text">
    <button type="submit">Submit</button>

</form>
    <th:block th:each="feedback : ${feedbacks}">
        <p
            th:text="${feedback.rate} == ${feedback.text}">
        </p>
        <form th:action="@{/feedback/delete}" method="get">
            <input type="hidden" name="feedbackId">
            <button type="submit">🗑</button>
        </form>

    </th:block>


</body>
</html>