<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
         <body onload="showMessage()">

         <form action="/product/create" method="post" enctype="multipart/form-data">
             <input type="text" name="name" placeholder="name">
             <input type="text" name="description" placeholder="description">
             <input type="number" name="price" placeholder="price">
             <input type="number" name="count" placeholder="count">
             <label for="img">Select image for product:</label>
             <input type="file" id="img" name="image" accept="image/*" multiple>
             <input type="hidden" name="sellerId" th:value="${user.id}">
             <input type="hidden" name="categoryId" th:value="${parentId}">
             <br/>
             <button type="submit">Submit</button>
         </form>
         <table>
             <thead>
             <tr>
<!--                 <th>ID</th>-->
                 <th>Name</th>
                 <th>Price</th>
                 <th>Picture</th>
             </tr>
             </thead>
             <tbody>
             <tr th:each="product : ${products}">
                 <td th:text="${product.name}"></td>
<!--                 <td th:text="${product.name}"></td>-->
                 <td th:text="${product.price}"></td>
                 <td>
                     <img th:each="photo : ${product.getPhotos()}" th:src="${'http://localhost:8081/image/download/'+photo}">
                 </td>
             </tr>
             </tbody>
         </table>


         <script th:inline="javascript">
             var msg = [[${msg}]];

             function showMessage() {
                 if (msg === null) {
                    return;
                 }
                     alert(msg);
             }
         </script>
         </body>
</html>